body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Aria, sans-serif;
}

.calculator {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    background: #f9f9f9;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background: #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2;
}

button:hover {
    background: #d4d4d4;
}