body {
    font-family: Arial, sans-serif;
    background-color: #008ea1;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    margin-top: 0;
    color: yellow;
}

p {
    color: darkgreen;
}

.span {
    color: darkblue ;
}

.input-row {
    margin: 20px auto;
    width: 60%;
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #006a75;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #00545c;
}

.task {
    width: 60%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.task:hover {
    background-color: #57d157;
}

.task-done {
    background-color: #57d157;
    text-decoration: line-through;
}

.task:not(done) {
    background-color: #3aaac4;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}