* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    font-family: Arial, sans-serif;
    background: white;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.task {
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    font-size: 0.9rem;
    color: #000;
}

.h2 {
    margin-bottom: 10px;
    font-weight: bold;
}
.Oranssi {
    background-color: orange;
    color: black;
    border-style: solid;
}
.Vaaleanpunainen {
    background-color: #ffcccc;
    color: black;
    border-style: solid;
}
.Keltainen {
    background-color: #ffff99;
    color: black;
    border-style: solid;
}
.Vihreä {
    background-color: #b3ffb3;
    color: black;
    border-style: solid;
}
.Vaaleansininen {
    background-color: #add8ff;
    color: black;
    border-style: solid;
}
.Turkoosi {
    background-color: #aaf0f0;
    color: black;
    border-style: solid;
}
.Pinkki {
    background-color: #ffb6b6;
    color: black;
    border-style: solid;
}
.Purppura {
    background-color: #c7b3f5;
    color: black;
    border-style: solid;
}
.Sininen {
    background-color: #add8ff;
    color: black;
    border-style: solid;
}
.Beige {
    background-color: #fff2cc;
    color: black;
    border-style: solid;
}
.Tummansininen {
    background-color: #3b94c4;
    color: black;
    border-style: solid;
}
