main {
    display: grid;
    grid-template-areas: "header header";
   grid-template-areas: "nav aside";
   grid-template-areas: "footer footer";
   grid-template-columns: 2fr 2fr;
   }
   header {
    grid-area: header;
    text-align: center;
   }
aside {
    grid-area: aside;

}
footer {
    grid-area: footer;
}
