h1 {
    color: green;
}

h2 {
    font-family: "Playwrite NO", cursive;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.font1 {
    font-family: "Anton", sans-serif;
}

.font2 {
    font-family: "Bitcount Prop Double Ink", system-ui;
}

.font3 {
    font-family: "Dancing Script", cursive;
}

.font4 {
    font-family: "Caveat", cursive;
}

.n1 { font-size: 12px; color: red; }
.n2 { font-size: 8px; color: blue; }
.n3 { font-size: 16px; color: green; }
.n4 { font-size: 23px; color: purple; }
.n5 { font-size: 5px; color: orange; }
.n6 { font-size: 10px; color: brown }
.n7 { font-size: 25px; color: magenta }
.n8 { font-size: 14px; color: teal }
.n9 { font-size: 7px; color: gold }
.n10 { font-size: 11px; color: black; }